#footer{
  flex-shrink:0;
  align-self: flex-end;
  position: relative;
  z-index: 3;
}
.footer{
  margin: -2em 2.438em 0 2.438em;
  font-size: 1.3rem;
  @mixin mediumScreensMaxWidth890{
    margin: -2em 6.438em 0 2.438em;
  }
}