.header{
  &__container{
    &-outer{
      margin: 4em 0;
    }
    &-inner{
      display:flex;
      justify-content: space-between;
      align-items:center;
    }
  }
  &__section{
    &-left{
      display:flex;
      justify-content: space-between;
      margin-left: 55px;
    }
    &-right{
      display:flex;
      align-items: center;
      justify-content: space-between;
      
    }
  }
  &__nav{
    &-outer{
      min-width: 830px;
      backdrop-filter: blur(1.4rem);
      background-color: hsla(0, 0%, 59%, 9%);
      position: relative;
    }
    &-inner{
      display:flex;
      justify-content: space-around;
      margin:2.5em 7.5em 0 10.4em;
      list-style-type: none;
    }
    &-item{
      font-family: 'Barlow Condensed';
      &-order{
        font-family: 'Barlow Bold';
        font-size: 1.1rem;
      }
      &-text{
        color: white;
        text-decoration: none;
        margin-left:.70em;
        display:inline;
        font-size: 1.1rem;
        letter-spacing: 2.7px;
      }
      &-marker{
        background-color: transparent;
        display:block;
        width: 100%;
        height:.25em;
        margin-top:2.5em;
        &--active{
          background-color: white;
        }
      }
    }
  }
  &__image{
  }
  &__divider-line{

    width:473px;
    height:5px;
    z-index: 3;
    fill:#979797;
    stroke:hsla(0, 0%, 59%, 29%)
  }
}