.header{
  &__container{
    &-outer{
      margin: 4em 0;
    }
    &-inner{
      display:flex;
      justify-content: space-between;
      align-items:center;
    }
  }
  &__section{
    &-right{
      display:flex;
      align-items: center;
      justify-content: space-between;
      width:100%;
      @mixin mediumScreensMaxWidth890{
        justify-content: flex-end;
      }
    }
  }
  &__image{
    margin-right: 3em;
    margin-left: 3.438em;
  }
  &__divider-line{
    
    margin-right: -3em;
    width:100%;
    height:5px;
    z-index: 3;
    fill:#979797;
    stroke:hsla(0, 0%, 59%, 29%);
    
    
    @mixin removeDividerLine{
      display:none;
    }
    
  }
}