.page{
  &__destination-container{
    &--outer{
      height:100vh;
    }
    &--inner{
    margin-bottom: 7.1em;
    flex: 1 0 auto;
    padding: 0 13.5em 0 13.5em;
    display:flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    justify-content: baseline;
    
    @mixin largeScreensMaxWidth1440{
      justify-content: space-around;
    }
    @mixin largeScreensMaxWidth1186{
      padding:0 3.5em 0 3.5em;
    }
    @mixin largeScreensMaxWidth1044{
      padding: 4em 3.5em;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
    }
    @mixin mediumScreensMaxWidth768{
      flex-direction: column;
      min-height:100vh;
      justify-content: space-around;
    }
    @mixin smallScreensMaxWidth565{
      justify-content: flex-start;
      padding: 0 3em;
      min-height: auto;
      align-items: center;
    }
    }
  }
  &__destination{
    &--description{
      font-family: 'Barlow Regular';
      font-size: 1.8rem;
      line-height: 32px;
      min-height:7em;
      @mixin largeScreensMaxWidth1044{
        min-height:10em;
      }
      @mixin largeScreensMaxWidth1186{
        min-height: 7em;
      }
      @mixin smallScreensMaxWidth565{
        min-height: 9em;
        line-height: 25px;
        font-size: 1.5rem;
      }
    }
    &--text{
      &-distance, &-travel{
        font-family: 'Bellefair';
        font-size: 2.8rem;
      }
    }
    &--line{
      width:100%;
      height:5px;
      stroke: hsla(0, 0%, 59%, 29%);
      margin:6em 0 2em 0;
      @mixin largeScreensMaxWidth1186{
        margin: 1.5em 0 .75em 0;
      }
      @mixin mediumScreensMaxWidth768{
        margin:4em 0 2em 0;
      }
      @mixin smallScreensMaxWidth565{
        margin:2.25em 0 .05em 0;
      }
    }
    &--distance{
      font-size: 1.1rem;
      font-family: 'Barlow Regular';
      
    }
    &--main{
      padding: 3em 0;
      min-width: 2.8em;
      min-height:10em;
      height:50em;
      @mixin largeScreensMaxWidth1186{
        text-align: center;
        height:auto;
        max-width: 75%;
        min-height:initial;
        margin:0 auto;
      }
      @mixin mediumScreensMaxWidth768{
        max-width: none;
      }
      @mixin smallScreensMaxWidth565{
        padding: 1em 0;
      }

      &-title{
        font-size: 10rem;
        margin:0;
        @mixin largeScreensMaxWidth1186{
          text-align: center;
          max-width: none;
          margin:.15em 0 .15em 0;
        }
        @mixin smallScreensMaxWidth565{
          font-size:56px;
          margin:.05em 0 .05em 0;
        }
      }
      
    }
    &--content{
      &-hidden{
        display:none;
      }
      &-active{
        display:flex;
        margin-top: 10vh;
        align-items: center;
        justify-content: space-between;
        @mixin largeScreensMaxWidth1186{
          flex-direction: column;
          align-items: center;
          margin-top:initial;
        }
      }
    }
    &--details{
      &-container{
        display:flex;
        justify-content: space-between;
        @mixin mediumScreensMaxWidth768{
          max-width: 55%;
          margin:0 auto;
        }
        @mixin mediumScreensMaxWidth675{
          max-width: none;
        }
        @mixin smallScreensMaxWidth565{
          flex-direction: column;
        }
      }
      &-1, &-2{
        min-width: 14em;
        @mixin mediumScreensMaxWidth675{
          min-width: none;
        }
        @mixin smallScreensMaxWidth565{
          margin:1em 0;
        }
      }
      
    }
    &--marker{
      background-color: transparent;
      display:block;
      width: 100%;
      height:.15em;
      margin-top:.5em;
    }
    &--pagination-number{
      width:100%;
      max-width: max-content;
      font-family: 'Barlow Condensed';
      font-size: 1.6rem;
      letter-spacing: 2.7px;
      color: #D0D6F9;
      @mixin largeScreensMaxWidth1186{
        margin:2em 0;
      }
      @mixin smallScreensMaxWidth565{
        margin:.2em 0;
        font-size:1.4rem;
      }
      &:not(:last-of-type){
        margin-right:1em;
        @mixin largeScreensMaxWidth1186{
          margin-right: 2em;
        }
        @mixin smallScreensMaxWidth565{
          margin-right: 1em;
        }
      }
      &:hover{
        span{
          background-color: white;
          opacity:.5;
          transition: all .25s linear;
        }
      }
      &--active{
        color:white;
        span{
          background-color:white;
        }
      }
    }
    &--menu{
      display:flex;
      justify-content: space-between;
      list-style-type: none;
      display:flex;
      cursor: pointer;
      width: 70%;
      min-height: 6em;
      @mixin largeScreensMaxWidth1186{
        justify-content: center;
      }
      @mixin smallScreensMaxWidth565{
        width:auto;
      }
      &-container{
        margin:-10em 0 0 0;
        @mixin largeScreensMaxWidth1186{
          display:flex;
          justify-content: center;
          margin: 0;
        }
        @mixin smallScreensMaxWidth565{
          margin:2.8em 0 1em 0;
        }
        &--outer{
          height:max-content;
        }
      }
    }
    &--image{
      margin: 0 27em 0 0;
      @mixin largeScreensMaxWidth1440{
        align-self: center;
      }
      @mixin largeScreensMaxWidth1280{
        margin:0 11em 0 0;
      }
      @mixin largeScreensMaxWidth1186{
        margin:3em auto;
        max-width: 300px;
      }
      @mixin mediumScreensMaxWidth768{
        margin: 6em 0 2em 0;
      }
      @mixin smallScreensMaxWidth565{
        max-width: 175px;
        margin: 2em 0 1em 0;
      }
    }
    &--title{
      letter-spacing: 4.725px;
      font-size: 2.8rem;
      @mixin largeScreensMaxWidth1186{
        font-size: 1.55rem;
      }
      @mixin mediumScreensMaxWidth768{
        font-size: 1.6rem;
      }
      @mixin smallScreensMaxWidth565{
        font-size: 2rem;
        font-weight:400;
      }
      
      &-distance, &-travel{
        font-size: 1.4rem;
        font-family: 'Barlow Condensed';
        letter-spacing: 2.3625px;
        line-height: 17px;
      }
      &-number{
        font-size: 2.8rem;
        font-family: 'Barlow Bold';
        opacity: .25;
        margin-right: .5em;
        @mixin largeScreensMaxWidth1186{
          font-size: 1.55rem;
        }
        @mixin mediumScreensMaxWidth768{
          font-size: 1.6rem;
        }
        @mixin smallScreensMaxWidth565{
          font-size: 2rem;
          font-weight:400;
        }
      }
      &-container{
        font-family: 'Barlow Condensed';
        display:flex;
        align-items: center;
        margin:0 45em 1em 0;
        @mixin largeScreensMaxWidth1186{
          margin:auto;
        }
      }
    }
    &--section-2{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row-reverse;
      @mixin largeScreensMaxWidth1186{
        padding: 0 3em 0 3em;
      }
      @mixin smallScreensMaxWidth565{
        padding:0;
      }
    }
  }
}