#hurley{
  margin: 5.25em 0 0 5.5em;
  @mixin mediumScreensMaxWidth768{
    margin: 0 0 0 5.5em;
  }
  @mixin mediumScreensPortraitMaxWidth768{
    margin:0;
  }
  @mixin mediumScreensLandscapeMinWidth768{
    margin:0 0 2em 13em;
  }
  @mixin smallScreensMaxWidth565{
    margin: 2.25em 0 0 0;
  }
  @mixin mediumScreensLandscapeMinWidth320{
    flex-direction: column-reverse;
  }
}